body, html {
    height: 100%;
    margin: 0;
}
.navbar {
    background-color: #a8c0ff;
}
.navbar-brand {
    font-family: 'Brush Script MT', cursive;
    font-size: 2.0rem;
}
.title {
    font-family: 'Podkova', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #273CAB;
}
.container {
    max-width: 100%;
}
.navbar-nav .nav-link {
    color: white;
}
.product {
    text-align: center;
    margin-top: 20px;
}
.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.category-buttons .btn {
    margin: 0 10px;
}
.like-buttons .btn {
    margin: 0 10px;
}
.active {
    color: white !important;
}
.category-buttons .btn.active {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}
.like-buttons .btn.active {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}