{% extends "base.html" %}
{% block content %}
    <h1 class="title">Augmented <br>Make up</h1>
    <p class="lead" style="font-weight: bold;">About</p>
    <style>
        .poster {
            text-align: center;
            margin-top: -20px; /* Adjust this value as needed to move the poster up */
        }
        .poster img {
            max-width: 100%;
            margin-top: 10px;
            height: auto;
            width: 40%; /* Adjust the width as needed */
        }
        .features {
            text-align: left; /* Aligns the features list to the right */
            padding: 15px; /* Adds padding around the features section */
            margin-top: 20px; /* Adds margin to the top of the features section */
        }
        .features ul {
            list-style-type: none;
            padding-right: 0; /* Removes padding from the right side */
        }
        .features ul li {
            margin-bottom: 0.7rem;
        }
        .project-description {
            text-align: left;
            font-size: 1rem;
            margin-bottom: 5px;
            padding-left: 15px;
        }
    </style>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="features">Virtual Makeup App Using OpenCV And Dlib</h2>
                <div class="description-container">
                    <p class="project-description">
                        This project leverages OpenCV and Dlib to create a virtual makeup application that allows users to apply lipstick, blush, eyeliner, and eyeshadow to their photos.
                    </p>
                    <p class="project-description">
                        The application uses facial landmark detection to accurately place makeup on the appropriate facial regions.
                    </p>
                </div>
                <div class="features">
                    <h3>Features</h3>
                    <ul>
                        <li>Lipstick Application: Apply Different Shades Of Lipstick.</li>
                        <li>Blush Application: Add Blush To The Cheeks With Various Colors.</li>
                        <li>Eyeliner: Customize Eyeliner Styles And Colors.</li>
                        <li>Eyeshadow: Apply Eyeshadow With Options For Multiple Colors And Gradients.</li>
                        <li>Real-Time Makeup: Apply Makeup In Real-Time Using A Webcam Feed.</li>
                        <li>Save Results: Save The Final Makeup-Applied Image.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 poster">
                <img src="{{ url_for('static', filename='images/poster.png') }}" alt="Augmented Make Up Poster">
                <p>Made By. Team [동글레]</p>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            console.log('준비중');
            $("#homeMenu").click(function(event) {
                event.preventDefault();
                console.log('홈클릭');
                alert("준비중입니다.");
            });
        });
    </script>
{% endblock %}






