{% extends "base.html" %}
{% block content %}
   
    <p class="lead" style="font-weight: bold;">About</p>
    <style>
        .poster {
            text-align: center;
            margin-top: -20px;
        }
        .poster img {
            max-width: 100%;
            margin-top: 10px;
            height: auto;
            width: 40%;
        }
        .features {
            text-align: left;
            padding: 15px;
            margin-top: 20px;
        }
        .features ul {
            list-style-type: none;
            padding-right: 0;
        }
        .features ul li {
            margin-bottom: 0.7rem;
        }
        .project-description {
            text-align: left;
            font-size: 1rem;
            margin-bottom: 5px;
            padding-left: 15px;
            line-height: 1.6; /* 텍스트 간격 조정 */
        }
        .team-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .team-member {
            text-align: center;
            width: 23%; /* 네 개의 사진이 나란히 배치되도록 너비 설정 */
        }
        .team-member img {
            width: 100%;
            height: auto;
        }
        .team-member p {
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .social-buttons a {
            margin: 0 5px;
            text-decoration: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            display: inline-block;
            font-size: 14px;
        }
        .github-button {
            background-color: #333;
        }
        .instagram-button {
            background-color: #E4405F;
        }

        .team-member img{
            margin-top:20px;
            width :60%;
            height:auto;
        }
        .project-description{
            flex: 1; /* Allow text to take available space */
            white-space: nowrap; /* Prevent text from wrapping to the next line */
            overflow: visible; /* Allow text to overflow */
        }
    </style>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="features">OpenCV와 dlib를 사용한 가상 메이크업 앱</h2>
                <div class="description-container">
                    <p class="project-description">
                        이 프로젝트는 OpenCV와 Dlib을 활용하여 실시간 영상에서 얼굴 랜드마크를 감지하고, 다양한 메이크업을 자연스럽게 적용할 수 있는 가상 메이크업 애플리케이션입니다. 
                    </p>
                    <p class="project-description">
                        사용자는 립스틱, 블러쉬, 아이라이너, 아이섀도 등 다양한 색상과 스타일을 선택할 수 있으며, 웹캠을 통해 실시간으로 메이크업을 시도하고 최종 결과물을 이미지로 저장해 원하는 제품 목록과 함께 비교해볼 수 있습니다.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="features">특징</h2>
                <div class="description-container">
                    <li class="project-description">
                        립스틱 바르기: 다양한 색상의 립스틱을 바르세요.
                    </li>
                    <li class="project-description">
                        블러셔 활용법 : 다양한 컬러로 볼에 블러셔를 덧발라줍니다.
                    </li>
                    <li class="project-description">
                        아이라이너: 아이라이너의 스타일과 색상을 사용자 정의합니다.
                    </li>
                    <li class="project-description">
                        아이섀도: 다양한 색상과 그라데이션 옵션을 활용해 아이섀도를 바릅니다.
                    </li>
                    <li class="project-description">
                        실시간 메이크업: 웹캠 피드를 사용하여 실시간으로 메이크업을 적용해 보세요.
                    </li>
                    <li class="project-description">
                        결과 저장: 최종 메이크업 이미지를 저장합니다.
                    </li>
                </div>
            </div>
        </div>
        <div class="team-container">
            
            <div class="team-member">
                <img src="/static/images/product/러브샤인 워터샤인 립스틱 211 알덴트 카민.jpg" alt="팀원 1 사진" class="team-member img">
                <p>팀장. 조희선</p>
                <div class="social-buttons">
                    <a href="https://github.com/your_github_profile" target="_blank" class="github-button">GitHub</a>
                    <a href="https://www.instagram.com/your_instagram_profile" target="_blank" class="instagram-button">Instagram</a>
                </div>
            </div>
            <div class="team-member">
                <img src="/static/images/product/러브샤인 워터샤인 립스틱 211 알덴트 카민.jpg" alt="팀원 2 사진" class="team-member img">
                <p>팀원. 조희진</p>
                <div class="social-buttons">
                    <a href="https://github.com/your_github_profile" target="_blank" class="github-button">GitHub</a>
                    <a href="https://www.instagram.com/your_instagram_profile" target="_blank" class="instagram-button">Instagram</a>
                </div>
            </div>
            <div class="team-member">
                <img src="/static/images/product/러브샤인 워터샤인 립스틱 211 알덴트 카민.jpg" alt="팀원 3 사진" class="team-member img">
                <p>팀원. 우수정</p>
                <div class="social-buttons">
                    <a href="https://github.com/your_github_profile" target="_blank" class="github-button" >GitHub</a>
                    <a href="https://www.instagram.com/your_instagram_profile" target="_blank" class="instagram-button">Instagram</a>
                </div>
            </div>
            <div class="team-member">
                <img src="/static/images/product/러브샤인 워터샤인 립스틱 211 알덴트 카민.jpg" alt="팀원 4 사진" class="team-member img">
                <p>팀원. 양서은</p>
                <div class="social-buttons">
                    <a href="https://github.com/your_github_profile" target="_blank" class="github-button">GitHub</a>
                    <a href="https://www.instagram.com/your_instagram_profile" target="_blank" class="instagram-button">Instagram</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            console.log('준비중');
            $("#homeMenu").click(function(event) {
                event.preventDefault();
                console.log('홈클릭');
                alert("준비중입니다.");
            });
        });
    </script>
{% endblock %}
