{% extends "base.html" %}
{% block content %}
        <h1 class="title">Augmented <br>Make up</h1>
        <p class="lead" style="font-weight: bold;">My Choices</p>

        <div class="category-buttons d-flex justify-content-center mb-3">
            <a href="#" class="btn btn-outline-primary">SKIN</a>
            <a href="#" class="btn btn-outline-primary">EYE</a>
            <a href="#" class="btn btn-primary">LIP</a>
            <a href="#" class="btn btn-outline-primary">Accessories</a>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/lipstick1.jpg') }}" class="img-fluid" alt="Lipstick">
                <h5 class="mt-2">매트한 타입</h5>
                <button class="btn btn-primary">Like it ♥</button>
            </div>
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/lipstick2.jpg') }}" class="img-fluid" alt="Lip Gloss">
                <h5 class="mt-2">글로시 타입</h5>
                <button class="btn btn-primary">Like it ♥</button>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            console.log('준비중');
            $("#homeMenu").click(function(event) {
                event.preventDefault();
                console.log('홈클릭');
                alert("준비중입니다.");
            });
        });
    </script>
{% endblock %}