{% extends "base.html" %}
{% block content %}

        <!-- Main Title and Description -->
    <div class="container text-center mt-5">
        <h1 class="title">Augmented <br>Make up</h1>
        <p class="lead" style="font-weight: semi-bold;">제품을 선택해주세요.</p>
    </div>

       
       <!-- Category Buttons -->
        <div class="like-buttons d-flex justify-content-center mb-3">
            <a href="/like_skin" class="btn custom-outline-btn">SKIN</a>
            <a href="/like_eye" class="btn custom-btn">EYE</a>
            <a href="/like_lip" class="btn custom-outline-btn">LIP</a>
            <a href="/like_jewelry" class="btn custom-outline-btn">Accessories</a>
        </div>

         <div class="row justify-content-center">
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/eyebrow.jpg') }}" class="img-fluid" alt="eyebrow">
                <h5 class="mt-2">아이브로우</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Like it ♥</a>
            </div>
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/eyeline.jpg') }}" class="img-fluid" alt="eyeliner">
                <h5 class="mt-2">아이라이너</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Like it ♥</a>
            </div>
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/eyeshadow.jpg') }}" class="img-fluid" alt="eyeshadow">
                <h5 class="mt-2">아이쉐도우</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Like it ♥</a>
            </div>
        </div>


    </div>

    <script>
        $(document).ready(function() {
            console.log('준비중');
            $("#homeMenu").click(function(event) {
                event.preventDefault();
                console.log('홈클릭');
                alert("준비중입니다.");
            });
        });
    </script>
{% endblock %}