<style>
    .navbar {
        background-color: transparent; /* 네비게이션 바 배경을 투명하게 설정 */
        border: none; /* 네비게이션 바의 경계선 제거 */
    }
    .navbar-nav .nav-link {
        color: #4E2A1E !important; /* 네비게이션 바의 링크 텍스트 색상을 어두운 갈색으로 설정하고 우선순위를 높임 */
        font-family: 'Noto Sans KR', serif; /* 브랜드 이름에 'Noto Sans KR' 글씨체 적용 */
        font-size: 1.5rem; /* 브랜드 이름 폰트 크기를 크게 설정 */
    }

    .navbar-brand {
       
        color: #4E2A1E !important; /* 브랜드 이름 색상을 어두운 갈색으로 설정하고 우선순위를 높임 */
        font-size: 3rem !important; /* 브랜드 이름 폰트 크기를 크게 설정 */
        font-family: 'kdg_Medium', sans-serif; /* 커스텀 폰트와 대체 폰트를 설정 */
    }
    @font-face {
        font-family: 'kdg_Medium';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .navbar-toggler-icon {
        filter: invert(38%) sepia(17%) saturate(327%) hue-rotate(342deg) brightness(93%) contrast(89%);
        /* 토글 아이콘 색상을 어두운 갈색으로 변경 */
    }

    .navbar .fa-search, 
    .navbar .fa-heart {
        color: #4E2A1E !important; /* 아이콘 색상을 어두운 갈색으로 설정하고 우선순위를 높임 */
        font-size: 1.5rem; /* 브랜드 이름 폰트 크기를 크게 설정 */
    }
    .badge {
        position: absolute;
        top: -2px; /* 상단 간격 조정 */
        right: -5px; /* 오른쪽 간격 조정 */
        background-color: rgb(170, 128, 108); /* 배지 색상 */
        color: #4E2A1E;
        padding: 4px 6px !important;
        border-radius: 50%;
        font-size: 12px !important;
        font-weight: bold !important;
        z-index: 1;
        z-index: 1;
    }

    .nav-link .fa-heart {
        position: relative;
        z-index: 2;
    }

    /* 아이콘 및 텍스트가 활성화되거나 클릭될 때 색상 변경 */
    .navbar-nav .nav-link:active,
    .navbar-nav .nav-link.active,
    .navbar-brand:active,
    .navbar .fa-search:active,
    .navbar .fa-heart:active {
        color: #A0522D !important; /* 눌렸을 때 연갈색으로 변경 */
    }

    .navbar-nav .nav-link:hover,
    .navbar-brand:hover,
    .navbar .fa-search:hover,
    .navbar .fa-heart:hover {
        color: #A0522D !important; /* 마우스 오버 시 연갈색으로 변경 */
    }    
</style>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">화연(花衍)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                        <li><a class="dropdown-item" href="/products_skin/pills-skin">SKIN</a></li>
                        <li><a class="dropdown-item" href="/products_skin/pills-eye">EYE</a></li>
                        <li><a class="dropdown-item" href="/products_skin/pills-lip">LIP</a></li>
                        <li><a class="dropdown-item" href="/products_skin/pills-fashion">Fashion</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search"><i class="fas fa-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="/queue_display">
                        <i class="fas fa-heart"></i>
                        <span class="badge" id="cookie-count">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function() {
        var currentPageUrl = window.location.pathname;

        $('.navbar-nav .nav-link').each(function() {
                var linkUrl = $(this).attr('href');
                if (linkUrl === '/' && currentPageUrl === '/') {
                    $(this).addClass('active');
                } else if (currentPageUrl.startsWith(linkUrl) && linkUrl !== '/') {
                    $(this).addClass('active');
                }
            });

            // function activateTabFromHash() {
            //     alert('1111');
            //     var hash = window.location.hash;
            //     if (hash) {
            //         var cleanHash = hash.split('#')[1];
            //         var tabToActivate = $('a[href="#' + cleanHash + '"]');
            //         if (tabToActivate.length) {
            //             tabToActivate.tab('show');
            //         }
            //     }
            // }

            // activateTabFromHash();

            $('.dropdown-item').on('click', function(event) {
                event.preventDefault();
                window.location.href=$(this).attr('href')
                

                // if (targetHash) {
                //     var newHash = '#' + targetHash;
                //     if (window.location.hash !== newHash) {
                //         window.location.hash = newHash;
                //     }
                //     var tabToActivate = $('a[href="' + newHash + '"]');
                //     if (tabToActivate.length) {
                //         tabToActivate.tab('show');
                //         var dropdownToggle = $(this).closest('.dropdown-menu').prev('.dropdown-toggle');
                //         dropdownToggle.dropdown('hide');
                //     }
                // }
            });

            $('a[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
                var newHash = e.target.hash;
                if (window.location.hash !== newHash) {
                    window.location.hash = newHash;
                }
            });

    });
</script>
