<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">화연(花衍)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                        <li><a class="dropdown-item" href="/products_skin#pills-skin">SKIN</a></li>
                        <li><a class="dropdown-item" href="/products_skin#pills-eye">EYE</a></li>
                        <li><a class="dropdown-item" href="/products_skin#pills-lip">LIP</a></li>
                        <li><a class="dropdown-item" href="/products_skin#pills-fashion">Fashion</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search"><i class="fas fa-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="/queue_display">
                        <i class="fas fa-heart"></i>
                        <span class="badge" id="cookie-count">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>