{% extends "base2.html" %}
{% block content %}

    

        <div class="row justify-content-center">
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/eyebrow.jpg') }}" class="img-fluid" alt="eyebrow">
                <h5 class="mt-2">아이브로우</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Try Now</a>
            </div>
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/eyeline.jpg') }}" class="img-fluid" alt="eyeliner">
                <h5 class="mt-2">아이라이너</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Try Now</a>
            </div>
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/eyeshadow.jpg') }}" class="img-fluid" alt="eyeshadow">
                <h5 class="mt-2">아이쉐도우</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Try Now</a>
            </div>
        </div>


{% endblock %}


