{% extends "base.html" %}
{% block content %}


       <!-- Main Title and Description -->
    <div class="container text-center mt-5">
        <h1 class="title">Augmented <br>Make up</h1>
        <p class="lead" style="font-weight: semi-bold;">제품을 선택해주세요.</p>
    </div>

        <!-- Category Buttons -->
        <div class="category-buttons d-flex justify-content-center mb-3">
            <a href="/products_skin" class="btn btn-outline-primary">SKIN</a>
            <a href="/products_eye" class="btn btn-outline-primary">EYE</a>
            <a href="/products_lip" class="btn btn-outline-primary">LIP</a>
            <a href="/products_jewelry" class="btn btn-outline-primary">Accessories</a>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/neck.jpg') }}" class="img-fluid" alt="Lipstick">
                <h5 class="mt-2">선글라스</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Try Now</a>
            </div>   
        </div>

    </div>

    <script>
        $(document).ready(function() {
            console.log('준비중');
            $("#homeMenu").click(function(event) {
                event.preventDefault();
                console.log('홈클릭');
                alert("준비중입니다.");
            });       

            //alert($("#aaaa").val());    

        });
    </script>





{% endblock %}