{% extends "base2.html" %}
{% block content %}

    <!-- Content -->
  

        <div class="row justify-content-center">
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/foundation.jpg') }}" class="img-fluid" alt="Lipstick">
                <h5 class="mt-2">파운데이션&쿠션</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Try Now</a>
            </div>
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/contouring.jpg') }}" class="img-fluid" alt="Lip Gloss">
                <h5 class="mt-2">컨투어</h5> 
                <a class="btn btn-primary" href="/lip_detail" role="button">Try Now</a>
            </div>
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/blur.jpg') }}" class="img-fluid" alt="Lip Gloss">
                <h5 class="mt-2">블러셔</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Try Now</a>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            console.log('준비중');
            $("#homeMenu").click(function(event) {
                event.preventDefault();
                console.log('홈클릭');
                alert("준비중입니다.");
            });
        });
    </script>
{% endblock %}

