{% extends "base2.html" %}
{% block content %}


        

        <div class="row justify-content-center">
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/lipstick1.jpg') }}" class="img-fluid" alt="Lipstick">
                <h5 class="mt-2">매트한 타입</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Try Now</a>
            </div>
            <div class="col-md-4 product">
                <img src="{{ url_for('static', filename='images/lipstick2.jpg') }}" class="img-fluid" alt="Lip Gloss">
                <h5 class="mt-2">글로시 타입</h5>
                <a class="btn btn-primary" href="/lip_detail" role="button">Try Now</a>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            console.log('준비중');
            $("#homeMenu").click(function(event) {
                event.preventDefault();
                console.log('홈클릭');
                alert("준비중입니다.");
            });       

            // alert($("#aaaa").val());    

        });
    </script>





{% endblock %}